.home__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
}

.home__text{
  box-sizing: border-box;
  width: 100%;
  padding: 0 1.2em;
  font-size: 17px;
}

.home__title{
  font-size: 23px;
  font: normal 700 "Open Sans";
}

.home__image{
  /* box-sizing: border-box;
  padding: 2em; */
  height: 170px;
  width: auto;
  margin: 0 auto;
}

.home__navigation{
  position: absolute;
  width: 100%;
  height: 64px;
  font-size: 23px;
  color: white;
  background: #6562FD;
  align-self: flex-end;
  text-align: center;
}